*
{
background-color: black;
}
img
{
    border: 5px solid white;
    width:100%;
}
h1
{
    color:white;
    font-family: "Libre Baskerville", serif;
    text-align:center;
    font-size: 25px;
    white-space: nowrap;
    text-transform:uppercase;
}
p
{
    color:white;
    text-align: center;
    font-size:14px;
    white-space:nowrap;
}
div
{
    margin-top: 100px;
    width:50%;
    margin-left: 25%;
}